<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>ProductionInterstitialID</key>
    <string>ca-app-pub-5754584472729127/3302351102</string>
    <key>ProductionRewardedID</key>
    <string>ca-app-pub-5754584472729127/7070325868</string>
</dict>
</plist>
